{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FWA - my first web application</title>
    <base href="/">
    <link href="{% static '/resources/favicon.ico' %}" rel="Shortcut Icons" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/app.css' %}" >
    <script>
        window.config = {
            appNmae: 'FWA - my first web application1',
            locale: 'ru',
            locales: {
                'ru': 'Русский',
                'en': 'English',
            },
        }
    </script>
</head>
<body>
     <div id="app"> </div>
      <script src=" (% static'/js/app.js' %)"></script>
</body>
</html>